<launch>
    <include file="$(find ucr_description)/launch/description.launch" />
    <node name="epos_hardware" pkg="epos_hardware" type="epos_hardware_node" 
    args="steer_actuator rear_left_drive_actuator">
        <rosparam command="load" file="$(find ucr_epos_control)/config/epos.yaml" />
    </node>
</launch>
