<launch>
  <!-- load the parameter -->
  <rosparam command="load" file="$(find ucr_control)/config/front_left_wheel_follow_controller.yaml" />
  <!-- launch the node and remap its publication to corresponding controller input-->
  <node name="front_left_wheel_autodriver" pkg="ucr_control" type="front_left_wheel_follow_controller" >
    <remap from="front_left_wheel_autodriver/velocity" to="front_left_drive_controller/command" />
  </node>
</launch>
