<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true" />
    </include>
    
    <include file="$(find ucr_gazebo)/launch/description.gazebo.launch" />
    
    <!-- 在gazebo中加载机器人模型-->
    <include file="$(find ucr_gazebo)/launch/ucr_spawn.launch" />
</launch>
