<?xml version="1.0"?>
<robot name="ucrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find ucrbot)/urdf/ucrbot.urdf"/>
    <xacro:include filename="$(find ucr_description)/urdf/xacro/transmissions.xacro"/>
    
    <gazebo reference="front_left_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    <gazebo reference="front_right_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    <gazebo reference="rear_left_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    <gazebo reference="rear_right_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    
    <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>
