<launch>
  <!-- regist robot_description from .xacro file to rosparam server -->
  <arg name="model" value="$(find xacro)/xacro --inorder '$(find ucr_description)/urdf/xacro/ucrbot.xacro'" />
  <param name="robot_description" command="$(arg model)" />
  
  <!-- run node to publish states and tf -->
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
</launch>
