<launch>
  <!-- launch the steer_drive_controller -->
  <include file="$(find ucr_control)/launch/ucr_steer_drive_control.launch" />
  
  <!-- use timed_roslaunch to launch front_left_follow_controller -->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="4 ucr_control ucr_front_left_follow_control.launch" name="timed_roslaunch" output="screen" />
</launch>
