<?xml version="1.0"?>
<robot name="ucrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- transmission of steer drive -->
    <transmission name="front_steer_joint_trans" >
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="front_steer_joint" >
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="front_steer_actuator" >
            <mechanicalReduction>200</mechanicalReduction>
        </actuator>
    </transmission>
    
    <!-- transmission of rear wheel -->
    <transmission name="rear_drive_joint_trans" >
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rear_drive_joint" >
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="rear_drive_actuator" >
            <mechanicalReduction>244</mechanicalReduction>
        </actuator>
    </transmission>
</robot>
